<div class="container-fluid my-5">
  <div class="row justify-content-center">
    <div class="col-xl-10">
      <div class="card shadow-lg">
        <div class="row justify-content-around">
          <div class="col-md-5">
            <div class="card border-0">
              <div class="card-header card-2">
                <p class="card-text">User Details</p>
                <hr class="my-2" />
              </div>
              <div class="card-body pt-0">
                <div class="row justify-content-between">
                  <form
                    class="container"
                  >
                    
                    <label for="formGroupExampleInput" class="form-label">ID</label>
                    
                      <div class="alert alert-light" role="alert">
                        {{userData.id}}
                      </div>
                      <!-- <mat-hint *ngIf="title.touched && title.invalid">Include area code</mat-hint> -->
                        <label for="formGroupExampleInput" class="form-label"> Email</label>
                        <div class="alert alert-light" role="alert">
                            {{ userData.email }}
                        </div>
                      
                    
                    <label for="formGroupExampleInput" class="form-label">First Name</label>
                    <div class="alert alert-light" role="alert">
                         {{ userData.first_name }}
                    </div>
                    
                    <label for="formGroupExampleInput" class="form-label">Last Name</label>
                    <div class="alert alert-light" role="alert">
                       {{ userData.last_name }}
                    </div>
                     
                    <div class="container text-center">
                      <div class="row align-items-start">
                        <div class="col">
                          <button  mat-fab extended color="primary" (click)="cancel()">
                            <mat-icon>favorite</mat-icon>
                            Cancel
                          </button>
                        </div>
                       
                      
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="card border-0">
              <div class="card-header card-2">
                <p class="card-text">User Avatar</p>
                <hr class="my-2" />
              </div>
              <div class="card-body pt-0">
                <div class="row justify-content-between">
                  <div class="card" >
                        <img class="card-img-top" [src]="userData.avatar" >
                      </div> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

